@{
    ViewBag.Title = "主页";
}
<head>
    <title>ABOUT ZJUCoursera</title>
    <link type="text/css" rel="stylesheet" href="/Content/myblog.css" />
    <link type="text/css" rel="stylesheet" href="/Content/ABOUT.css" />
    <style>
        body {
            background: url(/imag/top.jpg) no-repeat;
            margin: 0;
            padding: 0;
        }

        #friendpic {
            border-radius: 10%;
            width: 96%;
        }
    </style>
</head>

<body>

    <div class="box" style="height:360px">
        <h1 style="text-align:center; color:white; font-size:3em; line-height:320px;font-family:Verdana,sans-serif; font-weight:bold;">ZJUCoursera 让你足不出户上浙大</h1>
    </div>
    


    <div class="content">
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;同学你好呀！欢迎来到 <strong>ZJUCoursera</strong>，一个让你足不出户就可以上浙大的网址。
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在这个平台中，你可以预约来自浙江大学的老师讲授的课程。选课成功后，你将收到具体听课方式的介绍
            ，并以视频的形式，学习到这些课程。目前，已有xx名浙江大学在职教师入驻平台，设立有计算机、英语、数学和思政，这四大类热门学科
            ，近xx余门课程。相信你一定能找到合适自己的课程。
        </p>
        <hr>
        <h4>学校介绍</h4>
        <p>  
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;浙江大学（Zhejiang University），简称“浙大”，由中华人民共和国教育部直属，
            中央直管副部级建制，位列首批“世界一流大学和一流学科”、“211工程”、“985工程”，九校联盟（C9）、
            环太平洋大学联盟、世界大学联盟、国际应用科技开发协作网、中国大学校长联谊会、新工科教育国际联盟、
            全球能源互联网大学联盟、CDIO工程教育联盟、医学“双一流”建设联盟成员，入选珠峰计划、2011计划、
            高等学校学科创新引智计划、卓越工程师教育培养计划、卓越医生教育培养计划、卓越法律人才教育培养计划、
            卓越农林人才教育培养计划、中国政府奖学金来华留学生接收院校、国家建设高水平大学公派研究生项目、
            全国首批深化创新创业教育改革示范高校，为中国人自己最早创办的新式高等学校之一，是一所综合性全国重点大学，
            曾被英国著名学者李约瑟称誉为“东方剑桥”。         
        </p>
        <hr />
        <h4>模式介绍 </h4>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coursera是大型公开在线课程项目，由美国斯坦福大学两名计算机科学教授创办。旨在同世界顶尖大学合作，
            在线提供网络公开课程。Coursera的首批合作院校包括斯坦福大学、密歇根大学、普林斯顿大学、宾夕法尼亚大学等美国名校。
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本站希望打造类似的平台，故取名为ZJUCoursera。</p>
        <hr />
        <h4>使用说明</h4>
        <p>
            <ul>
                
                <li>ZJUCoursera的课程按每周一次的频率上课，上课时间固定。</li>
                <li>用户需要先进行注册登录才能选课，确认选课后会收到听课方式具体介绍的邮件，即可按说明进行学习。因此，个人信息中的邮箱务必填写正确。</li>
                <li>按时间选课：罗列出了一周中不同时间的课程，可以按上课时间</li>
                <li>按学科选课：罗列出了本站的课程所涉及到的所有学科，便于查询。</li>
                <li>学习工具：计算器</li>
            </ul>
        </p>
        
    </div>



</body>