@{
    ViewBag.Title = "联系我们";
}

<head>
    <link type="text/css" rel="stylesheet" href="/Content/myblog.css" />
    <link type="text/css" rel="stylesheet" href="/Content/CONTACT.css" />
    <title>联系我们 - ZJUCoursera</title>
</head>

<body>

    

    <div class="box">
        <img src="/imag/me.png" alt="" class="box-img">
        <h1>ZJUCoursera</h1>
        <h4>浙江大学网络公开课在线预约平台</h4>
        <p style="text-align:center"><br>地址: 浙江省杭州市三墩镇人民公园<br>邮箱: ZJUCoursera@zju.edu.cn<br>作者: 许心圆</p>
    </div>
    <h1>&nbsp;</h1>
    <h1>&nbsp;</h1>
    <h1>&nbsp;</h1>





</body>

