@model ZJUCoursera1.DAL.Subject

@{
    ViewBag.Title = "删除学科";
}

<h2>删除信息</h2>

<h3>你确定要删除吗</h3>
<div>
    <h4>学科</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
